{% extends "base.html" %}

{% block content %}
{% if v_user.is_staff %}
<div class="container-fluid mt-4 user-profile-max-width-instructor mb-3">
{% else %}
<div class="container-fluid mt-4 user-profile-max-width-client mb-3">
{% endif %}
    {% if user.is_staff or v_user.pk == user.pk %}
        <div class="d-flex align-items-center adj-430w mb-4" id="title-div">
            {% if v_user.pk == user.pk %}
            <h1>Your Profile</h1>
            {% else %}
            <h1>{{ v_user.first_name }} {{ v_user.last_name }}</h1>
            {% endif %}
            {% if v_user.is_staff %}
            <div class="ms-auto" id="admin-main-buttons-profile">
                <a href="{% url 'staff:update_instructor' v_user.instructor.id %}" class="btn btn-primary" style="height: 40px;">Update Details</a>
            </div>
            {% endif %}
        </div>
        {% if not v_user.is_staff %}
        <a href="{% url 'clients:update_client' v_user.client.id %}" class="btn btn-primary" style="height: 40px; transform: translateY(-15px)">Update Details</a>
        {% endif %}
    {% else %}
        {% if v_user.pk == user.pk %}
        <h1 class="mb-4">Your Profile</h1>
        {% else %}
        <h1 class="mb-4">{{ v_user.first_name }} {{ v_user.last_name }}</h1>
        {% endif %}
    {% endif %}
    {% if v_user.is_staff %}
    <div class="row">
        <div class="col-md-5 d-flex flex-column mb-3">
            <img src="{{ v_user.instructor.image.url }}" alt="{{ v_user.first_name }}" class="rounded border border-secondary p-2 mb-2" style="width: auto; max-width: 100%; height: auto;">
            <div class="w-100 mb-1">
                <form method="post" enctype="multipart/form-data" action="update_photo/">
                    {% csrf_token %}
                    {{ update_photo_form }}
                    <button type="submit" class="btn btn-primary mt-2">Upload</button>
                </form>
            </div>
        </div>
        <div class="col-md-7 mb-5">
    {% else %}
        <div class="mb-5">
    {% endif %}
            <div class="card">
                <div class="card-body">
                    <div>
                        <p class="text-success fw-bold me-2 mb-0 user-card-font">Name:</p>
                        <p class="card-text mb-3 user-card-font">{{ v_user.first_name }} {{ v_user.last_name }}</p>
                        <p class="text-success fw-bold me-2 mb-0 user-card-font">Email:</p>
                        <p class="card-text mb-3 user-card-font">{{ v_user.email }}</p>
                        <p class="text-success fw-bold me-2 {% if user.is_superuser or v_user.pk == user.pk %}mb-1{% else %}mb-0{% endif %} user-card-font">Login Password:</p>
                        <p class="card-text mb-2 user-card-font">********{% if user.is_superuser or v_user.pk == user.pk %} <button class="btn btn-primary btn-sm" style="transform: translateY(-5px)">Change</button>{% endif %}</p>
                        <p class="text-success fw-bold me-2 mb-0 user-card-font">Phone:</p>
                        <p class="card-text mb-3 user-card-font">{% if v_user.is_staff %}{{ v_user.instructor.phone }}{% else %}{{ v_user.client.phone }}{% endif %}</p>
                        <p class="text-success fw-bold me-2 mb-0 user-card-font">Date of Birth:</p>
                        <p class="card-text mb-3 user-card-font">{% if v_user.is_staff %}{{ v_user.instructor.DOB|date:"d M Y" }}{% else %}{{ v_user.client.DOB|date:"d M Y" }}{% endif %}</p>
                        <p class="text-success fw-bold me-2 mb-0 user-card-font">Access No.:</p>
                        <p class="card-text mb-3 user-card-font">{% if v_user.is_staff %}{{ v_user.instructor.entry_code }}{% else %}{{ v_user.client.entry_code }}{% endif %}</p>
                        {% if v_user.is_staff %}
                        <p class="text-success fw-bold me-2 mb-0 user-card-font">Title:</p>
                        <p class="card-text mb-3 user-card-font">{{ v_user.instructor.instr_type }}</p>
                        <p class="text-success fw-bold me-2 mb-0 user-card-font">Description:</p>
                        <p class="card-text mb-3 user-card-font">{{ v_user.instructor.desc }}</p>
                        <p class="text-success fw-bold me-2 mb-0 user-card-font">Qualifications:</p>
                        <ul class="mb-3">
                            {% for q in v_user.instructor.qualifications %}
                            <li class="card-text user-card-font">{{ q }}</li>
                            {% endfor %}
                        </ul>
                        <p class="text-success fw-bold me-2 mb-0 user-card-font">Activities:</p>
                        <ul class="mb-1">
                            {% for activity in v_user.instructor.activities %}
                            <li class="card-text user-card-font">{{ activity }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p class="text-success fw-bold me-2 mb-0 user-card-font">Membership:</p>
                        <p class="card-text mb-1 user-card-font">{{ v_user.client.membership }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}