{% extends "base.html" %}

{% block content %}

<div class="container-fluid max-width-custom mb-4">
    {% if user.is_staff %}
        <div class="d-flex align-items-center adj-630w" id="title-div-home">
            <h1 class="mt-4 mb-4">Welcome to Django Gym</h1>
            <div class="ms-auto" id="admin-main-buttons-home">
                <a href="{% url 'home:edit_selection' %}" class="btn btn-primary" style="height: 40px;">Edit Images</a>
                <a href="{% url 'home:sort_images' %}" class="btn btn-dark ms-1" style="height: 40px;">Reorder</a>
            </div>
        </div>
    {% else %}
        <h1 class="mt-4 mb-4 ms-2 me-2">Welcome to Django Gym</h1>
    {% endif %}
    <div class="row">
        {% for item in images %}
        <div class="col-md-6">
            <div class="card img-fluid h-100">
                <img src="{{ item.image.url }}" class="img-fluid crop-image" alt="Image">
                <p class="lead mt-2 ms-3 me-3">{{ item.desc }}{% if item.link %} See our <a href="/{{ item.link }}" class="link-primary text-decoration-none">{{ item.link_text }}</a>.{% endif %}</p>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 and not forloop.last %}
        </div>
        <div class="row mt-3">
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}