{% extends "base.html" %}

{% block content %}
<div class="container-fluid max-width-custom mb-5">
    {% if user.is_staff %}
        <div class="d-flex align-items-center ms-2 me-2 adj-430w" id="title-div">
            <h1 class="mt-4 mb-4">Our Team</h1>
            <div class="ms-auto" id="admin-main-buttons">
                <a href="" class="btn btn-primary" style="height: 40px;">Add Staff</a>
                <a href="" class="btn btn-dark ms-1" style="height: 40px;">Reorder</a>
            </div>
        </div>
    {% else %}
        <h1 class="mt-4 mb-4 ms-2 me-2">Our Team</h1>
    {% endif %}
    <div class="row">
        {% for staff in team %}
        <div class="col-md-6 mb-5">
            <div class="card img-fluid h-100 ms-2 me-2">
                <img src="{{ staff.image.url }}" class="img-fluid crop-portrait" alt="Image">
                <h2 class="card-title mt-2 ms-3 me-3 border-bottom-after">{{ staff.user.first_name }}<p class="text-muted fs-4">{{ staff.instr_type }}</p></h2>
                {% if user.is_staff %}
                    <div class="mt-2 mb-2 ms-3 me-3">
                        <a href="" class="btn btn-primary me-1" style="height: 40px;">Update</a>
                        <a href="{% url "users:user_profile" staff.user.id %}" class="btn btn-info" style="height: 40px;">Details</a>
                    </div>
                {% endif %}
                <div class="d-flex ms-3 me-3">
                    <p class="fs-3 mb-1">See <a class="link link-classes-light" href="">Upcoming Classes</a></p>
                </div>
                <p class="lead mt-1 ms-3 me-3">{{ staff.desc }}</p>
                <a href="{% url 'staff:staff_detail' staff.id %}" class="btn btn-info btn-lg mb-3 ms-3 me-3" style="height: 50px;">See More</a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 and not forloop.last %}
        </div>
        <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}