{% extends "base.html" %}

{% block content %}
<div class="container-fluid max-width-custom mb-5">
    {% if user.is_staff %}
        <div class="d-flex align-items-center ms-2 me-2 adj-430w" id="classes-title-div">
            <h1 class="mt-4 mb-4">Our Classes</h1>
            <div class="ms-auto" id="classes-admin-main-buttons">
                <a href="{% url 'class:add_class' %}" class="btn btn-primary" style="height: 40px;">Add Class</a>
                <a href="{% url 'class:sort_classes' %}" class="btn btn-dark ms-1" style="height: 40px;">Reorder</a>
            </div>
        </div>
    {% else %}
        <h1 class="mt-4 mb-4 ms-2 me-2">Our Classes</h1>
    {% endif %}
    <div class="row">
        {% for class in classes %}
        <div class="col-md-6 mb-5">
            <div class="card img-fluid h-100 ms-2 me-2">
                <img src="{{ class.image.url }}" class="img-fluid crop-image" alt="Image">
                <h2 class="card-title mt-2 ms-3 me-3 border-bottom-after">{{ class.name }}</h2>
                {% if user.is_staff %}
                    <div class="mt-2 mb-2 ms-3 me-3">
                        <a href="{% url 'class:update_class' class.id %}" class="btn btn-primary me-1" style="height: 40px;">Update</a>
                        <a href="{% url 'class:delete_class' class.id %}" class="btn btn-danger" style="height: 40px;">Delete</a>
                    </div>
                {% endif %}
                <div class="d-flex ms-3 me-3 gap-3">
                    <a class="link fs-4 link-classes" href="">Schedule</a>
                    <p class="fs-3 mb-0 fw-lighter" style="color: rgb(191, 191, 191); transform: translateY(-4px)">|</p>
                    <a class="link fs-4 link-classes" href="">Instructors</a>
                </div>
                <p class="lead mt-1 ms-3 me-3">{{ class.desc }}</p>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 and not forloop.last %}
        </div>
        <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}