{% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-4 d-flex flex-column align-items-center">
    <form method="post" enctype="multipart/form-data">
        <h3 class="ms-5 me-5">Are you sure you want to delete {{ class.name }}? This action cannot be undone.</h3>
        {% csrf_token %}
        <div class="d-flex justify-content-center align-items-center mb-3">
            <button type="submit" style="width: 100px;" class="btn btn-danger btn-lg mt-3 mb-3 ms-2 me-2">Yes</button>
            <a href="{% url 'class:classes' %}" style="width: 100px;" class="btn btn-primary btn-lg mt-3 mb-3 ms-2 me-2">No</a>
        </div>
    </form>
    <div class="col-md-6 mb-5">
        <div class="card img-fluid h-100 ms-2 me-2">
            <img src="{{ class.image.url }}" class="img-fluid crop-image" alt="Image">
            <h2 class="card-title mt-2 ms-3 me-3 border-bottom-after">{{ class.name }}</h2>
            <div class="d-flex ms-3 me-3 gap-3">
                <a class="link fs-4 link-classes" href="">Schedule</a>
                <p class="fs-3 mb-0 fw-lighter" style="color: rgb(191, 191, 191); transform: translateY(-4px)">|</p>
                <a class="link fs-4 link-classes" href="">Instructors</a>
            </div>
            <p class="lead mt-1 ms-3 me-3">{{ class.desc }}</p>
        </div>
    </div>
</div>
{% endblock %}